.App-logo {
    margin-top: 20px;
    height: 30px;
}
.ToolBar {
    position: relative;
    top: 0px;
    border: 1px solid black;
    width: 100%;
    height: 70px;
}

.NewsContainer {
<<<<<<< HEAD
    display:flex;
=======
    display: flex;
>>>>>>> d96f18c0a5df1ff62d6b1e48884100687b319986
    background-color:#f2f6fa;
    position: absolute;
    left: 0px;
    border: 1px solid grey;
    width: 35%;
    height: 100%;
}

.ChartContainer {
    background-color:#f2f6fa;
    position: absolute;
    border: 1px solid black;
    right:0px;
    width: 65%;
    height: 90%;
}