ul {
    width:100%;
    padding: 10px;
    list-style-type: none;
}

li {
    margin-left:0px;
}

h3 {
    float: left;
    margin-left: 30px;
    /* color: #633974; */
    color: #626567;
    font-weight: bold;
}

.card{
    width: 95%;
    margin-bottom: 10px;
    text-align: left;    
    font-family: Tahoma, Geneva, sans-serif;
    border-left: 10px solid;
}

.card:hover{
    background: #A9A2F6;
}

.card:hover .btn{
    background: #A9A2F6;
}

.bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
}

.title {
    font-size: 12;
    font-family: Tahoma, Geneva, sans-serif !important;
    color: #212F3C;
}

.fakeReal {
    margin-left: 15px;
}

.publishdate {
    float: left;
    color: #212F3C;
}

.learnmore {
    float: right;
}

.icon {
    color: #6c4df7;
    font-size: 1.5em;
    border-left: none;
}

.icon:hover {
    font-size: 2em;
    transition: cubic-bezier();
    transition-duration: 0.5s;
}

.btn{
    border: none;
}
